<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearMine.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearMine.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearMine.Common.Properties.Settings>
            <setting name="Difficulty" serializeAs="String">
                <value>Beginner</value>
            </setting>
            <setting name="Rows" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Mines" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HeroList" serializeAs="Xml">
                <value>
                    <heroList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <heroOnLevel level="beginner" played="0" won="0" longestWinning="0"
                            longestLosing="0" current="0" average="0">
                            <records />
                        </heroOnLevel>
                        <heroOnLevel level="interMediate" played="0" won="0" longestWinning="0"
                            longestLosing="0" current="0" average="0">
                            <records />
                        </heroOnLevel>
                        <heroOnLevel level="advanced" played="0" won="0" longestWinning="0"
                            longestLosing="0" current="0" average="0">
                            <records />
                        </heroOnLevel>
                    </heroList>
                </value>
            </setting>
            <setting name="PlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowQuestionMark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoContinueSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayAnimation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysNewGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameHistoryFolder" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="WavingFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTooManyFlagsWarning" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearMine.Common.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ClearMine.Common.Properties.Settings>
            <setting name="SoundLose" serializeAs="String">
                <value>.\Sound\Lose.wma</value>
            </setting>
            <setting name="SoundWin" serializeAs="String">
                <value>.\Sound\Win.wma</value>
            </setting>
            <setting name="SoundStart" serializeAs="String">
                <value>.\Sound\GameStart.wma</value>
            </setting>
            <setting name="SoundTileSingle" serializeAs="String">
                <value>.\Sound\TileSingle.wma</value>
            </setting>
            <setting name="SoundTileMultiple" serializeAs="String">
                <value>.\Sound\TileMultiple.wma</value>
            </setting>
            <setting name="SavedGameExt" serializeAs="String">
                <value>.cmg</value>
            </setting>
            <setting name="UnfinishedGameFileName" serializeAs="String">
                <value>SavedGame.cmg</value>
            </setting>
            <setting name="ScreenShotFolder" serializeAs="String">
                <value>\Poleaf\ClearMine\ScreenShoots\</value>
            </setting>
            <setting name="ScreenShotFileTimeFormat" serializeAs="String">
                <value>yy-MM-dd-HH-mm-ss</value>
            </setting>
            <setting name="FeedBackEmail" serializeAs="String">
                <value>nankezhishi@hotmail.com</value>
            </setting>
            <setting name="HelpDocumentName" serializeAs="String">
                <value>ClearMineHelp.chm</value>
            </setting>
        </ClearMine.Common.Properties.Settings>
    </applicationSettings>
</configuration>