body
{
	font-family:"Microsoft Yahei";
}

p
{
	margin:5px 0px;
}

h2
{
	font-size:medium;
	margin-bottom:7px;
}

ul
{
	margin:0px;
	padding:0px 18px;
	list-style-type: disc;
}

li
{
	margin:3px 0px;
}

strong
{
	font-weight: bold;
}