<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearMine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearMine.Properties.Settings>
            <setting name="Difficulty" serializeAs="String">
                <value>Beginner</value>
            </setting>
            <setting name="Rows" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Mines" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HeroList" serializeAs="Xml">
                <value>
                    <heroList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <heroOnLevel level="beginner" played="0" won="0" longestWinning="0"
                            longestLosing="0" current="0" average="0">
                            <records />
                        </heroOnLevel>
                        <heroOnLevel level="interMediate" played="0" won="0" longestWinning="0"
                            longestLosing="0" current="0" average="0">
                            <records />
                        </heroOnLevel>
                        <heroOnLevel level="advanced" played="0" won="0" longestWinning="0"
                            longestLosing="0" current="0" average="0">
                            <records />
                        </heroOnLevel>
                    </heroList>
                </value>
            </setting>
            <setting name="PlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowQuestionMark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoContinueSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayAnimation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysNewGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameHistoryFolder" serializeAs="String">
                <value>.</value>
            </setting>
        </ClearMine.Properties.Settings>
    </userSettings>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="redirectListener"
                     type="ClearMine.Common.Log.RedirectorTraceListener, ClearMine.Common"
                     traceOutputOptions="DateTime" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>